@import "tailwindcss";

@theme {
  --font-serif: "Fraunces", Georgia, serif;
  --font-sans: "Inter", system-ui, sans-serif;

  --color-navy: #102A43;
  --color-baby: #D6ECFF;
}

body {
  font-family: var(--font-sans);
  color: var(--color-navy);
}